
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
}

.section {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    background-color: #f2f2f2;
    position: relative;
}

.title {
    background-color: #333;
    color: white;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border: 1px solid black;
}


p {
    margin-top: 40px; 
}


@media (min-width: 992px) {
    .section {
        float: left;
        width: 32%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 48%;
        float: left;
    }
    .section:nth-child(3) {
        clear: both;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .section {
        width: 100%;
        float: none;
    }
}
